
/*
***********************************
COLORS
***********************************
*/

:root {
    --primary-color: #f0f0f0;
    --secondary-color: #ff7b00;
    --hover-secondary-color: #ff7b0015;
    --background-color-1-opacity-50: #0eddec75;
    --background-color-2-opacity-50: #e74d3c8c;
    --background-color-1: #0eddec;
    --background-color-2: #e74c3c;
    --font-color-1: white;
    --font-color-2: #000000;
    --font-color-3: #0eddec;

}

/*SETTINGS*/

html {
    height: 100%;
    overflow: hidden;
    background-color: black;
}

h2 {
    margin-left: 25px;
}



.btn {
    border-radius: 15px;
    width: 10rem;
}

.btn-primary {
    background-color: var(--background-color-1-opacity-50);
    filter: drop-shadow(0 0 0.75rem #0eddec);
}
.btn-primary:hover {
    background-color: var(--background-color-1);
}

.btn-danger {
    background-color: var(--background-color-2-opacity-50);
    filter: drop-shadow(0 0 0.75rem #e74c3c);
}

.btn-danger:hover {
    background-color: var(--background-color-2);
}

/*S C R O L L B A R */
::-webkit-scrollbar 
{
    width: 12px;
    overflow: hidden;
}
 
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px var(--background-color-1); 
    box-shadow: inset 0 0 6px var(--background-color-1); 
    border-radius: 10px;
}


a, li ,p, h1, h2, h3 {
    text-shadow: rgb(0, 0, 0) 1px 1px 3px;
}


ul {
    padding: 0;
}

ul li {
    list-style-type: none;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 100% !important;
    margin: 0;
    padding: 0;
}


/*
***********************************
HEADER
***********************************
*/
.navbar {
    background-color: black;
    margin: 0;
    display: flex;
    
}

.collapse {
    justify-content: space-between;
}

.navbar a {
    color: var(--primary-color);
}

.nav-registration {
    align-self: flex-end;
}

/*
***********************************
GALAXY & STARS
***********************************
*/


.carousel-item img {
    width: 100%;
}

.carousel-caption {
    line-height: 20px;
    flex-direction: column;
    position: absolute;
    top: 5px;
    backdrop-filter: blur(8px) !important;
    border-radius: 1em;
    padding: 1em;
}

.carousel-caption p {
    text-align: justify;
    line-height: 1.6em;
}

.float-right {
    display: flex;
    justify-content: space-between;
}


/*
***********************************
GALAXY
***********************************
*/

.galaxy-container {
    overflow: scroll;
    display: flex;
}

.galaxy-background {
    position: absolute;
    z-index: 2;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 720px;

}



.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
}

.card-body, .card-img-top {
    width: 250px !important;
}



/*
***********************************
STARS
***********************************
*/

.carousel-caption-stars {
    width: 350px;
    margin: auto;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    position: sticky !important;
}

.carousel-caption-stars a {
    align-self: center;
}

.card {
    background-color: transparent;
}

.carousel-image {
    margin: auto;
    text-align: center;
}

.carousel-image img {
    width: 400px;
    text-align: center !important;
}   


/*
***********************************
VIEW
***********************************
*/

.container-view {
    display: flex;
    justify-content: space-around;
    height: 700px;
}

.image-view img {
    width: auto;
    height: auto;
}

.right {
    display: flex;
    flex-direction: column;
}

.description-view {
    overflow-y: scroll;
    width: 500px;
    height: 400px;
    margin-top: 5em;
    margin-bottom: 2em;
    backdrop-filter: blur(8px) !important;
    padding: .9em;
    border-radius: 1em;

}

.description-view p {
    text-align: justify;
    line-height: 1.5em;
}

