{% extends "base.html.twig" %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Bienvenue dans l'espace!</h1>
        <hr class="my-4">
        <p>Pour commencer vous pouvez parcourir la liste des voitures</p>
        <a class="btn btn-primary" href="{{ path('stars_list') }}" role="button">Explorez l'espace</a>
    </div>

{% endblock %}
