{% extends "base.html.twig" %}

{% block body %}

	<div class="jumbotron">
		<h1 class="display-4">Bienvenue dans le test!</h1>
		<hr class="my-4">
		<p>Explorez l'espace et commencez à y ajouter des objets !</p>
        <hr class="my-4">
		<a class="btn btn-primary" href="{{ path('galaxies_list') }}" role="button">Explorer</a>
	</div>

{% endblock %}
